/* Animasi teks masuk dan ngambang halus */
@keyframes slideUpFade {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes floatText {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Ini untuk semua teks dalam .hero-overlay */
.hero-overlay h1,
.hero-overlay p {
  animation: slideUpFade 1s ease-out, floatText 2s ease-in-out infinite;
}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  width: 100%;
}

.hero-banner h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero-banner p {
  font-size: 1.25rem;
}
